body {
  display: flex;
  flex-direction: column;
  background-color: #f8f8ff;
  justify-content: center;
  align-items: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.App > h1 {
  color: #646681;
  align-items: center;
  width: 500px;
}

.grid-container {
  display: grid;
  background-color: #f8f8ff;
  /* padding: 10px; */
  /* place-items: center; */
}

.grid-item {
  background-color: #f8f8ff;
  text-align: center;
  padding: 10px;
}

.itemb1 {
  grid-row: 1;
  grid-column: 1;
}

.itemb2 {
  grid-row: 1;
  grid-column: 3;
}
.itemCheckBox {
  display: grid;
  justify-content: center;
  grid-row: 1;
  grid-column: 1;
  background-color: #dedfe1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.itemTitle {
  grid-row: 1;
  grid-column: 2;
  background-color: #dedfe1;
}
.itemOption {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-row: 1;
  grid-column: 3;
  background-color: #dedfe1;
  gap: 5px;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.itemOption > button {
  height: 35px;
  width: 40px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.deleteButton {
  background: none;
  outline: none;
}
